<!-- <div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center" fxLayoutGap.gt-md="20px"> -->
<h1>Welcome to the calories app!</h1>
<div class="welcome" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-md="row" fxLayoutGap="30px" fxLayoutAlign.gt-md="space-around start">
  <section>
    <h3>We offer:</h3>
    <p>- Information of how many calories products you consume every day contain.</p>
    <p>- Opportunity to create your menu and count the quantity of calories.</p>
    <p>- To save your daily dishes and see the statistics of personal consumption.</p>
  </section>
  <section>
    <h3>Stay with us!</h3>
    <p>Be sure you passed the registration process and signed in.</p>
  </section>
</div>
<mat-toolbar fxLayout fxLayoutAlign="center center" fxLayoutGap="20px">
  <a href="https://www.facebook.com/stanislaw.chepa" target="_blank">
    <img src="https://www.pinclipart.com/picdir/middle/364-3648099_facebook-logo-red-transparent-fb-icon-white-png.png" width="25px" height="25px" alt="facebook">
  </a>
  <a href="https://github.com/Stanislav-92" target="_blank">
    <img src="https://banner2.kisspng.com/20180615/kff/kisspng-computer-icons-github-logo-github-5b23f7d7474c14.790619341529083863292.jpg" width="25px" height="25px" alt="github">
  </a>
  <a href="https://www.linkedin.com/in/stanislav-chepa-8b0699128/" target="_blank">
    <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-linkedin-black-amp;-white-icon-png-image_3547799.jpg" width="25px" height="25px" alt="linkedin">
  </a>
</mat-toolbar>
