.mat-toolbar-row, .mat-toolbar-single-row {
  height: 54px;
  padding: 0;
}

.mat-icon {
  margin-top: 7px;
}

a {
  margin: 10px;
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active,
.active {
  color: #ffff80;
}

.home-button {
  color: #fff;
}
